.section-preview {
    width: 60%;
    margin-bottom: 16px;

    .title {
        margin: 0 0 8px 0;
        padding: 0 0 8px 0;
        border-bottom: solid 1px white;
    }

    .content {
        line-height: 1.5;
        font-size: 17px;
        font-weight: 300;
    }

}