.contact {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    .contact-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}