* {
  box-sizing: border-box;
}

body {
  color: #f1faee;
  padding: 0 50px;
  background-color: #26262B;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.lol {
  display: flex;
  flex-direction: column;
  height: 100%;
}